::ng-deep .info-card .ant-card-meta-description,
::ng-deep .info-card .ant-card-meta-title {
  color: unset
}
.info-card {
  max-width: 100%;
  min-width: 140px;
  background-color: transparent;
  padding: 32px 0;
  border-radius: 10px;
  text-align: center;
  &--blue {
    background-color: blue;
  }
  &--white {
    background-color: white;
  }
  &--black {
    background-color: black;
    color: white !important
  }
  &--first {
    height: 280px;
    margin-top: -50px;
  }
  &--second {
    height: 320px;
  }
  &--third {
    height: 200px;
    margin-top: 0px;
  }
}


