.custom-card {
  max-width: 100%;
  background-color: transparent;
  &--blue {
    background-color: blue;
  }
  &--white {
    background-color: white;
  }
  &--black {
    background-color: black;
    color: white
  }
}
