



.content-box {
  position: relative;
  min-height: 240px;
}

.custom-card {
  max-width: 400px;
  &__img-box {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 40px;
      bottom: 0;
      left: 0;
      z-index: 1;
      transform-origin: top right;
      transform: skewY(-3deg);
      background-color: linear-gradient(135deg, #eceddc 25%, transparent 25%);
     }
  }
  &__img {
    width: 100%;
    height: 100%;

  }

}
// ::ng-deep.custom-tile{
//   overflow: inherit !important;
//   position: inherit !important;
// }

.list__right {
  width: 100%;
}

.section {
  &--grey {
  }
}

::ng-deep.custom-tile >.mat-grid-tile-content {
  justify-content: flex-start;
}


.wrap-list {
    width: 100%;
}

.wrap-img {
    width: 100%;
}

.section {
    &--grey {
    }
}



.right-tile {
  padding-top: 0 !important;
  overflow: inherit !important;
}


.list {
  width: 100%;
}


.tile--overflow {
  overflow: inherit !important;
}

.tile--padding {
  padding: 0 !important;
}


.custom-footer {
  background-color: transparent !important;
  &__text {
   
  }
}


.card--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
  height: 100%;
}

// antd
nz-header {

}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.img-container {  
  height: 100%;
  width: auto;
  background-image: url("../../../assets/images/bg/pattern_angular.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section_img {
  height: 500px;
}