@use "index" as *;

.img-container {
    background-image: Img("pattern_angular.png", "bg");
}

.content-box {
    position: relative;
}

.custom-card {
   background-color: Color(warn);
}


.wrap-list {
    width: 100%;
}

.wrap-img {
    width: 100%;
}

.section {
    &--grey {
        background-color: Color(grey)
    }
}