<section>
    <div class="custom-container">
        <h2>
            Our Project
        </h2>
        <p>
            decription
        </p>
        <div>
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
        </div>
    </div>
    <div class="img-container">
        
    </div>
</section>
<!-- second section -->
<section>
    <div class="bla">blaa</div>
    <div class="custom-container">
        <mat-card color="warning" class="custom-card">
            <img mat-card-image src="../../../assets/images/bg/second-bg.png">
            <div class="content-box">
                <mat-card-header> our header</mat-card-header>
                <mat-card-content> our content</mat-card-content>
            </div>            
        </mat-card>
    </div>
</section>
