<mat-card *ngIf="false">
  <mat-toolbar class="toolbar">
    <div class="toolbar__box">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </div>

    <div>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</mat-card>

<div>
  <div class="logo"></div>
  <ul nz-menu nzTheme="light" nzMode="horizontal">
    <li nz-menu-item>nav 1</li>
    <li nz-menu-item>nav 2</li>
    <li nz-menu-item>nav 3</li>
  </ul>
</div>

